@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");

body {
	margin: 0;
	font-family: "EB Garamond", serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

/* Below are the general styles */

body {
	margin-top: 1rem;
	background-color: #2f2f2f;
}

h1,
h2 {
	font-size: 1.3rem;
	font-weight: 100;
}

p {
	font-size: 1.2rem;
	margin-bottom: 0rem;
	margin-top: 0.5rem;
}

.firstpage {
	display: flex;
	margin-left: 4.5rem;
}

.rebigcontainer {
	width: 15rem;
}

/* styles for the menu */

.menu {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin-bottom: 1rem;
}

.menugroup a {
	color: black;
	text-decoration: none;
	font-size: 1.2rem;
	justify-content: space-evenly;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	background-color: #eeedea;
	border-radius: 5px;
	padding: 0.3rem;
}

.logo_small {
	background-color: #2f2f2f;
	border-radius: 3rem;
	width: 3rem;
	animation: logo_small 10s infinite linear;
}

/* Drop Down */
.phone {
	font-size: 1.5rem;
	text-decoration: none;
	margin-right: 3rem;
}

.phone li {
	position: relative;
}

.phone span {
	font-size: 10px;
	padding: 0.5rem;
	color: yellow;
}

.phone li a {
	display: inline-block;
	text-decoration: none;
}

.phone li:hover ul.sub-menu,
.phone li:focus-within ul.sub-menu {
	display: block;
}

.phone ul.sub-menu {
	background: white;
	display: none;
	position: absolute;
	text-align: center;
	width: 125%;
	left: -1.1rem;
	right: 0rem;
}

.phone ul.sub-menu li a {
	padding-bottom: 1rem;
	padding-top: 1rem;
}

.phone ul.sub-menu li:hover,
.phone ul.sub-menu li:focus-within {
	border-bottom: 2px solid #f0d000;
}

/* @media (max-width: 1024px) {
	.topnav {
		-ms-flex-pack: distribute;
		justify-content: space-around;
	}
}

@media (max-width: 834px) {
	.topnav .desk {
		display: none;
	}
	.topnav ul a:hover {
		background-color: transparent;
	}
	.topnav .phone {
		display: block;
		border: 1px solid black;
		padding: 1rem;
	}
	.topnav img {
		margin-left: 1rem;
	}
	.topnav {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-pack: distribute;
		justify-content: space-around;
	}
} */

/* styles for all headings */

.reheading,
.heading,
.heading_news {
	background-color: #b5d4cc;
	border-radius: 5px;
	text-align: center;
	width: 13rem;
	padding: 0.3rem;
	display: block;
	margin: auto;
	margin-bottom: 0.5rem;
}

/* different headings have different widths */

.heading {
	width: 10rem;
}

.heading_news {
	width: 12rem;
}
/* below are the styles for recommendations */

.recontainer {
	border-radius: 1rem;
	width: 15rem;
	height: 40rem;
	position: fixed;
	overflow: auto;
}

.recompany {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.symbolntime {
	display: flex;
	justify-content: space-between;
	margin-bottom: -0.5rem;
}

.recompanyinfo h2 {
	font-weight: 600;
}

.recompanyinfo {
	background-color: #f9f8f7;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-bottom: 1rem;
	border-bottom: 1px solid black;
}

/* mainbox */

.mainbox {
	height: 100%;
	margin-left: 1rem;
}

.bigcontainer {
	width: 14rem;
	margin-left: 1rem;
}

.threestocks {
	display: flex;
}

.container {
	background-color: #f9f8f7;
	border-radius: 1rem;
	width: 14rem;
	height: 14rem;
	position: fixed;
	overflow: auto;
}

.company {
	display: flex;
	flex-wrap: wrap;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

.companyinfo h2 {
	font-weight: 600;
}

.companyinfo {
	border-bottom: 1px solid green;
	padding-bottom: 1rem;
	width: 100%;
	padding-left: 1rem;
	padding-right: 1rem;
}

.companyinfo .tag::after {
	content: "➢";
	color: green;
	font-size: 0.8rem;
	padding-left: 0.4rem;
	padding-right: 0.5rem;
}

.logo {
	padding: 0.5rem;
	border-radius: 3rem;
	position: relative;
	top: 4rem;
	left: 4rem;
	width: 7rem;
}

/* below tech news articles */

.techcrypto {
	display: flex;
	margin-top: 7rem;
}

.techcrypto div {
	margin-right: 0.5rem;
	width: 20.1rem;
}

.technews {
	display: flex;
	height: 21rem;
	border-radius: 1rem;
	position: fixed;
	overflow: auto;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

.techarticle {
	display: flex;
	flex-wrap: wrap;
}

.articleinfo {
	background-color: #f9f8f7;
	border-bottom: 1px solid black;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-bottom: 1rem;
	margin-bottom: 1rem;
}

.articleheading {
	width: 18rem;
	border-bottom: 1px solid green;
	padding-bottom: 0.5rem;
}

.articleinfo .image {
	height: 8rem;
	object-fit: contain;
}

.articleinfo h2 {
	font-weight: 600;
}

.articleinfo .summary {
	width: 18.1rem;
}

/* second page */

.secondpage {
	padding: 0rem;
	background-color: white;
	margin-left: -3rem; /* because body has margin-left:3rem */
}

/*sector styles */

.sectorcontainer {
	background-color: #f9f8f7;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	margin-left: 10rem;
}

.sectorheading {
	background-color: #b5d4cc;
	border: transparent;
	font-size: 1.3rem;
	border-radius: 5px;
	text-align: center;
	padding: 0.5rem;
}

/* sector article */

.sector {
	display: flex;
	height: 40rem;
	border-radius: 1rem;
	position: fixed;
	overflow: auto;
	margin-top: 2rem;
}

.sectorarticle {
	display: flex;
	flex-wrap: wrap;
	margin-left: 21rem;
}

.secarticleinfo {
	background-color: #f9f8f7;
	border-bottom: 1px solid black;
	padding-left: 1rem;
	padding-right: 1rem;
	padding-bottom: 1rem;
	margin-bottom: 1rem;
	width: 80%;
	border-radius: 1rem;
}

.secarticleinfo h2 {
	font-weight: 600;
}

.secarticleinfo .image {
	height: 8rem;
	object-fit: contain;
}

/* sector stocks */

.sectorstocksbox {
	border-radius: 1rem;
	height: 40rem;
	width: 18rem;
	position: fixed;
	overflow: auto;
}

.sectorstocksinfo {
	background-color: #f9f8f7;
	border-bottom: 1px solid black;
	padding: 1rem;
}

.sectorstocksinfo h2 {
	margin-top: -0.5rem;
	margin-bottom: 0.5rem;
	text-align: center;
	font-weight: 600;
}

/* animation */

@keyframes logo_small {
	from {
		transform: rotate(360deg);
	}
	to {
		transform: rotate(0deg);
	}
}
